---
export interface Props {
  t: any;
  lang: string;
  researchAreas: any[];
}
const { t, lang, researchAreas } = Astro.props;
---
<section class="research-focus-section">
  <div class="section-title-row">
    <h1 class="section-title">{t('researchFocus')}</h1>
    <a href={`/${lang}/themes`} class="section-more-btn">
      {t('exploreMore')}
    </a>
  </div>
  <p class="section-desc">
    {t('researchAreasDescription')}
  </p>
  <div class="area-card-list">
    {researchAreas.map((area: any) => (
      <div class="area-card">
        <div class="area-content">
          <div class="area-title">{t(area.title)}</div>
          {'subtitle' in area && <div class="area-subtitle">{t(area.subtitle)}</div>}
          <div class="area-desc">{t(area.desc)}</div>
          {'descSub' in area && <div class="area-desc-sub">{t(area.descSub)}</div>}
        </div>
      </div>
    ))}
  </div>
</section>